.Questions-Container {
  align-items: center;
  background-color: #262626;
  border-radius: 4px;
  box-shadow: 0 1px 1px #d9d9d9 , 0 -1px 2px 0 #d9d9d9;
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
}

.Question-box {
  border-bottom: 2px solid rgb(75, 87, 100);
  border-left: 3px solid rgb(233, 128, 99);
  border-radius: 4px;
  border-right: 2px solid rgb(75, 87, 100);
  border-top: 3px solid rgb(233, 128, 99);
  max-width: 50%;
  padding: 1%;
}

.Category {
  font-size: 1.5em;
}

.Line {
  position: relative;
  background-color: rgb(75, 87, 100);
  height: 2px;
  margin: 2% 0 5%;
  width: 100%;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.wrong {
  border: 3px solid red;
}

.buttons-container {
  width: 30%;
}

.options-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.options {
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 1% 0;
  padding: 1%;
}

.next {
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  cursor: pointer;
  padding: 1% 10%;
}
