.ranking-container {
  border: rgb(1, 50, 90) solid 3px;
  background-color: rgb(90, 167, 230);
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 10px;
  width: 50%;
  min-height: 200px;
}

.rank-even {
  align-items: center;
  border: rgba(0, 0, 0, 0.795) ridge 4px;
  background-color: cyan;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 50%;
}

.rank-odd {
  align-items: center;
  border: white double 4px;
  background-color: darkblue;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 50%;
}